{{!-- nav bar for all pagea and stored in handlebars partials --}}
<nav class="navbar is-transparent">
  <div class="navbar-brand">
    <a class="navbar-item branding" href="/">
      Spam Numbers Tracker
    </a>
    <div role="button" class="navbar-burger burger" data-target="navbar-menu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="navbar-menu" id="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" href="/">
        Home
      </a>
      <a class="navbar-item" href="/report">
        Report Page
      </a>
      {{#if login}}
      <div class="navbar-item">
        <div class="buttons">
          <a href="/logout" class="button is-primary">Logout</a>
        </div>
      </div>
      {{else}}
      <a class="navbar-item" href="/login">
        Login
      </a>
      <div class="navbar-item">
        <div class="buttons">
          <a href="/register" class="button is-primary">Sign up</a>
        </div>
      </div>
      {{/if}}
    </div>
  </div>
</nav>
