<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>

  {{#each css}}
    <link rel="stylesheet" href="{{this}}">
  {{/each}}
  {{#each script}}
    <script defer src="{{this}}"></script>
  {{/each}}
</head>
<body>
  {{{body}}}
</body>
</html>
