{{!-- index page --}}
<section class="hero is-fullheight">
    <div class="hero-head">
      {{> navbar}}
    </div>
    <div class="hero-body">
      <div class="columns home-hero">
        <div class="column home-title-column">
          <div class="container">
            <h1 class="title">Welcome to The BEST Spam Number Tracker in the world!</h1>
            <p class="subtitle is-5">Spam call tracker can store large amounts of spam call data
              reported by users across different cities in Canada and help cyber analysts
              examine and trace the call source to track down spammers.
              The spam call information available from Spam call tracker allows registered
              users to stay updated with spam numbers reported by other users so that they
              could set filters in their phones to block such numbers in the future.
            </p>
            <div class="buttons">
              <a class="button" href="/register">Join Now!</a>
              <a class="button" href="/login">Login</a>
            </div>
          </div>
        </div>
        <div class="column home-phone-column">
          <img class="object-dropshadow" src="images/phone.png" alt="Picture of a phone with a spam call">
        </div>
      </div>
    </div>
  </section>
