<body class="dark-bg">
  <section class="hero is-fullheight">
    <div class="hero-head">
      {{> navbar}}
    </div>
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column">
            <h2 class="report-title">Activity</h2>
            <span class="placeholder"></span>
          </div>
          <div class="column">
            <div class="report-create">
              <a class="button" href="/view">View All Spam Numbers</a>
              <button class="button">Create</button>
            </div>
            <div class="card report-card">
              <header class="card-header report-bar">
                <span class="report-bar-phone"></span>
                <ul class="menu-list report-header">
                  <li><span id="phoneNumber">No Phone Number</span></li>
                  <li><span id="city">No City</span></li>
                  <li><span id="user">No User</span></li>
                </ul>
              </header>
              <div class="card-content is-clearfix">
                <form id="report-form">
                  <div class="field">
                    <label class="label">Telephone Number</label>
                    <div class="control">
                      <input class="input" type="tel" id="spamnumber" placeholder="Ex. (000)-000-0000">
                    </div>
                  </div>
                  <div class="field">
                    <label class="label">City</label>
                    <div class="control">
                      <input class="input" type="tel" id="cityname" placeholder="Ex. Ottawa">
                    </div>
                  </div>
                  <div class="field">
                    <label class="label">Message</label>
                    <div class="control">
                      <textarea class="textarea has-fixed-size" placeholder="Comment Here..." id="message"></textarea>
                    </div>
                  </div>
                  <div class="field is-pulled-right">
                    <div class="control">
                      <button class="button">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
