<body class="dark-bg">
  <section class="hero is-fullheight">
    <div class="hero-body">
      <form class="report" id="report-report">
        <div class="report-bar">
          <span class="report-bar-phone"></span>
        </div>
        <div class="report-content">
          <header class="report-header">
            <h1>Report A Spam Number</h1>
          </header>
          <div class="report-inputs">
            <input class="report-input" type="text" name="spamnumber" id="spamnumber" placeholder="spamnumber">
            <input class="report-input" type="text" name="cityname" id="cityname" placeholder="cityname">
            <input class="report-input" type="text" name="message" id="message" placeholder="message">
          </div>
          <button class="button">Submit</button><br>
          <button class="viewAllNum"><a class="navbar-item" href="/view"> View All Spam Numbers</a></button>
          <br>
            <button class="button">View Spam Numbers Reported by you</button>
            <!-- <a href="">Logout</a> -->
            <a class="navbar-item" href="/">
              logout
            </a>
        </div>
      </form>
    </div>
  </section>
</body>