<body class="light-bg">  
  <section class="hero is-fullheight">
    <div class="hero-head">
    <nav class="navbar is-transparent">
      <div class="navbar-brand">
        <a class="navbar-item branding" href="/view.html">
          Spam Numbers Tracker
        </a>
      <!-- <span class="member-name"></span> -->
      <span class="view-container"></span>
  </div>
  </section>
</body>