{{!-- view page  --}}
<body class="dark-bg">
  <section class="hero is-fullheight">
    <div class="hero-head">
      {{> navbar}}
    </div>
    <div class="hero-body">
      <div class="container">
        {{> report-row}}
      </div>
    </div>
  </section>
</body>
