.report-bar {
  height: 200px;
  background: linear-gradient(0deg, rgba(27, 37, 34, 0.45) 0%, rgba(0, 0, 0, 0) 100%), rgba(187, 17, 119, 0.9);
  color: #fff;
}

.report-bar-phone {
  background-image: url(../images/phone.png);
  background-repeat: no-repeat;
  background-position: center 9%;
  width: 100%;
}

.report-card {
  border-radius: 10px;
  overflow: hidden;
}

.report-header {
  position: absolute;
  padding: 20px;
  width: 100%;
  height: inherit;
  font-size: 21px;
  font-weight: 300;
}

.report-header li {
  margin-bottom: 10px;
}

.report-create {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.report-title {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #FDE8F4;
  height: 43px;
  margin-bottom: 25px;
}

.report-card {
  background: #FFF;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 0;
}

.report-card-content {
  padding: 10px;
}

.report-text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #5C718A;
}
